* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  color: black;
  text-decoration: none;
  font-family: "Comfortaa", cursive;
}

ul > li {
  list-style: none;
}

button {
  padding: 0.5em 0.7em;
  font-size: 0.8rem;
  background-color: #33363d;
  color: white;
  border: 2px solid #33363d;
  border-radius: 0.5em;
  cursor: pointer;
  font-family: "Comfortaa", cursive;
}

main {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  font-family: "Comfortaa", cursive;
  font-size: 1.1em;
  color: black;
  scroll-behavior: smooth;
}

main header {
  width: 100%;
  padding: 1.5rem 1.5rem;
}

main nav {
  width: 65%;
  border-radius: 10px;
  height: auto;
  margin: 2.5em auto 0;
  padding: 1em 0;
  border: 3px solid #33363d;
  position: -webkit-sticky;
  position: sticky;
  top: 1.5em;
  background-color: white;
  opacity: 0.95;
  z-index: 10;
}

main nav span {
  width: 30px;
  height: 30px;
  border-radius: 8px;
  background-color: black;
}

main nav ul {
  line-height: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main nav ul li {
  font-weight: 600;
  padding: 0 1em;
}

main nav ul a {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform-origin: left;
          transform-origin: left;
}

main nav ul a:hover {
  color: #7a7d82;
  text-decoration: line-through;
}

main header #title {
  text-align: center;
  margin: 1em 0 0;
}

main header #title h1 {
  font-family: "Lily Script One", cursive;
  font-size: 4.5em;
  line-height: 1.28em;
}

main header #title p {
  font-size: 1.1em;
}

main header figure {
  width: 100%;
  position: relative;
  z-index: 1;
}

main header figure img {
  display: block;
  width: 80%;
  max-width: 90%;
  min-width: 250px;
  margin: 0 auto;
}

main header figure figcaption {
  position: absolute;
  width: 43%;
  max-height: 300px;
  overflow: auto;
  right: 0.8em;
  bottom: 3em;
  padding: 1.3em 1em 1.1em;
  background-color: white;
  font-size: 1.1rem;
  border-radius: 0.85rem;
  -webkit-box-shadow: 0px 0px 42px -12px rgba(9, 9, 9, 0.15);
          box-shadow: 0px 0px 42px -12px rgba(9, 9, 9, 0.15);
}

main header figure figcaption p {
  line-height: 1.8em;
}

main header figure figcaption button {
  float: right;
  margin: 0.8em 0;
}

main header figure figcaption button i {
  margin-left: 5px;
}

#tribute-info {
  position: relative;
  padding: 4.5em 0 0;
}

#tribute-info #tml {
  position: absolute;
  top: -5em;
  left: 0em;
  width: 100px;
  height: 100px;
  background-color: blueviolet;
  visibility: hidden;
}

#tribute-info .grp-first {
  margin-top: 4em;
}

main section {
  position: relative;
  z-index: 1;
}

main section.timeline {
  width: 90%;
  margin: 0 auto;
  border-bottom: none;
  border-top: none;
  stroke-linecap: round;
}

main section.timeline .timeline-grp {
  padding: 1em 0 0.8em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.8em;
          column-gap: 0.8em;
}

main section.timeline .timeline-grp article {
  padding-left: 0.7em;
  padding-bottom: 0.8em;
}

main section.timeline .timeline-grp article h3 {
  font-size: 1.4em;
  margin-bottom: 0.5em;
}

main section.timeline .timeline-grp article p {
  overflow: auto;
  max-height: 500px;
  line-height: 1.8em;
}

main section.timeline .timeline-grp aside {
  max-height: 80%;
  padding: 1em 1em 1em 2em;
  border-radius: 1.1em 0 0 1.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  overflow: auto;
}

main section.timeline .timeline-grp aside img {
  width: 100%;
}

main section .main-title {
  position: absolute;
  background-color: white;
  padding: 10px;
  text-align: center;
}

main section .main-title span {
  font-size: 2em;
  font-weight: 900;
  text-transform: uppercase;
  color: #7a7d82;
  opacity: 0.4;
  position: relative;
}

main section .main-title h2 {
  position: absolute;
  top: 0.85em;
  left: 2.2em;
  color: #33363d;
}

main section#quotes {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 1.3em;
  border: 3px solid #33363d;
  border-left: none;
  border-right: none;
  margin-bottom: 0.8em;
}

main section#quotes #qut {
  position: absolute;
  top: -10em;
  left: 0em;
  width: 100px;
  height: 100px;
  background-color: blueviolet;
  visibility: hidden;
}

main section#quotes svg {
  margin: 5em 0 1em;
  width: 50px;
  height: 50px;
}

main section#quotes blockquote {
  width: 90%;
  max-width: 750px;
  margin: 0 auto 1em;
  font-size: 1.38em;
  line-height: 1.8em;
}

main section#quotes blockquote span {
  display: block;
  font-size: 0.8em;
  font-style: italic;
  text-align: right;
  margin-top: 1.3em;
  color: #7a7d82;
}

main footer {
  position: relative;
  background-color: #33363d;
  color: white;
  -webkit-clip-path: polygon(0 7%, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 7%, 100% 0, 100% 100%, 0 100%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.8fr 1.6fr;
      grid-template-columns: 0.8fr 1.6fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3.5em 0;
}

main footer #to-top {
  position: absolute;
  top: -0.8em;
  right: 1.8em;
  color: white;
  padding: 1.5em 1.2em 1.2em;
  border-radius: 50%;
  font-size: 1.2em;
}

main footer .footer-grid.text {
  text-align: center;
}

main footer .footer-grid.text p {
  font-size: 1em;
}

main footer .footer-grid.text span {
  font-size: 4.2em;
  font-family: "Lily Script One", cursive;
}

main footer .footer-grid.sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 1.5em;
          column-gap: 1.5em;
}

main footer .footer-title {
  font-size: 1.3em;
  font-weight: 500;
  margin-bottom: 0.7em;
  margin-top: 0.7em;
  border-bottom: 3px solid white;
  padding-left: 0.3rem;
}

main footer .social {
  margin-top: 1em;
  margin-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 0.9em;
}

main footer .social a {
  color: white;
}

main footer button {
  margin-top: 1.2em;
  background-color: white;
  color: #33363d;
  font-weight: 700;
}

main footer .ref {
  margin: 13px 0;
}

main footer .ref a {
  color: white;
  text-decoration: underline;
}

@media (max-width: 700px) {
  nav span {
    display: none;
  }
  #img-caption {
    width: 0px;
    height: 0px;
    opacity: 0;
  }
  main section.timeline .timeline-grp {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: minmax(300px, 1fr);
        grid-template-rows: minmax(300px, 1fr);
  }
  main footer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: minmax(300px, 1fr);
        grid-template-rows: minmax(300px, 1fr);
  }
  main section.timeline .timeline-grp p {
    max-height: 2000px !important;
  }
}

::-webkit-scrollbar {
  width: 22px;
}

::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 200px;
}

::-webkit-scrollbar-thumb {
  border-radius: 200px;
  border: 8px solid transparent;
  background-clip: content-box;
  background-color: black;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7a7d82;
}
/*# sourceMappingURL=style.css.map */